// Insert your styling here.


body {
  background-image:url('../tileable_wood_texture.png');
  background-repeat:repeat;
  background-position:scroll;
  .main-container {
    padding-top:2em;
    background-color: #ffffff;
  }
}

.navbar {
  margin-bottom:0;
}


table {
	margin: 0;
}

ul.secondary {
  font-size:2.3em;
}

ul.secondary li a {
  padding:8px;
}

ul.secondary span.title {
  display: none;
  visibility: hidden;
}

body.front #navbar {
  margin-bottom:0;
}

.navbar-collapse {
  padding-right:0;
}

.view-fronpage-feature {
  margin-bottom:2em;
}

.view-fronpage-feature:before {

}

.view-fronpage-feature .views-field-title{
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: #000;
  opacity: .8;
  width: 340px;
}

.view-fronpage-feature .views-field-title a{
  color: #fff;
  font-size: 1.6em;
}

.logo img {
  height: 35px;
}

// h1,h2,h3,h4,h5,h6{
//   text-transform:uppercase;
// }

.panel-footer {
  a {
    color: darken(@root-green, 25%);
  }
}
