.view-pm-calendar {
  h3 {
    padding-top:1em;
    text-align:center;
    padding:12px;
    background-color:@root-green;
    color:darken(@root-green, 45%);
  }
  h2 {

    a {
      font-size:22px;
      color:darken(@root-blue, 25%);
      font-weight:bold;
    }
  }
}

